<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>juegp de palabras</title>
</head>
<body>
    <div class="container">
        <div class="config-icon">
            <button class="dropdown-button" onclick="settings()">⚙️</button>
            <div class="dropdown-content" id="menu">
                <a href="#">Sonido
                    <input type="range" id="volumeControl" min="0" max="1" step="0.1" value="1">    
                </a>
                <a href="#">Tamaño de la letra
                    <input type="range" id="fontControl" min="10" max="50" step="1" value="16">    
                </a>
            </div>
        </div>
        <div class="title">Jugadores</div>
        <p>Seleccione:</p>
        <div class="selection">
            <button class="btn-players" value="2">2</button>
            <button  class="btn-players" value="3">3</button>
            <button class="btn-players" value="4">4</button>
        </div>
        
        <div class="notice">
            <p>Recuerde que el tiempo límite para la cantidad de palabras es de 1 minuto.</p>
            <div class="checkbox">
                <input type="checkbox" id="accept">
                <label for="accept">Aceptar</label>
            </div>
        </div>

    </div>
   
    
    <script src="../scripts/settings.js" type="module"></script>
    <script src="../scripts/app.js" type="module"></script>
</body>
</html>