<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Puntuación de Jugadores</title>
</head>
<body>
    <div class="container">
        <h1>Jugadores</h1>
        <h2>La puntuación es la siguiente:</h2>
        <div id="podium" class="podium"></div>
           
            <!-- <div class="trophy"><img src="../assets/images/trofeo.png" alt="Trophy"></div> -->        
            
    </div>
    <script type="module" src="../scripts/play.js"></script>
</body>
</html>