body {
    font-family: Arial, sans-serif;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #0b89fd;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #85b3de;
}